.inner-card.right img {
    width: 100%;
}

.inner-card.right {
    width: 45%;
}
.portfolio-card {
    overflow: auto;
    margin: 20px;
    background: rgba(0,0,0,.8);
}
.inner-card {
    width: 55%;
    float: left;
    color: limegreen;
}
mat-card-subtitle.mat-card-subtitle {
    font-size: 16px;
    line-height: 1.5;
    color: #fff;
}




@media screen and (max-width: 900px) {
    .inner-card {
        width: 100%!important;
    }
}
@media screen and (max-width: 900px) and (min-width: 700px) {

}